Repository devitocodes/devito, pull requests merged in 2020-08, with the labels that each got.

#1416 mpi: Patch compute_loc_indices + test
  devito/mpi/halo_scheme.py
  tests/test_mpi.py
Labels: bug-py-minor, compiler, minor-patch

#1251 Add MPI+GPU runs to CI
  .github/workflows/pytest-gpu.yml
  examples/seismic/acoustic/acoustic_example.py
  examples/seismic/elastic/elastic_example.py
  examples/seismic/self_adjoint/example_iso.py
  examples/seismic/tti/tti_example.py
  examples/seismic/utils.py
  examples/seismic/viscoacoustic/viscoacoustic_example.py
  examples/seismic/viscoelastic/viscoelastic_example.py
Labels: DevOps, GPUs, MPI, examples

#1420 Buffer: remove unused from args to allow multi buffers
  devito/types/dimension.py
  tests/test_dimension.py
Labels: API, bug-py-minor, minor-patch

#1418 ci: Test all critical seismic examples with MPI
  .github/workflows/examples-mpi.yml
  .github/workflows/pytest-core-mpi.yml
Labels: DevOps, MPI

#1419 ir: Fix lowering of ConditionalDimension
  devito/ir/clusters/algorithms.py
  devito/ir/equations/equation.py
  devito/ir/support/basic.py
  tests/test_mpi.py
Labels: bug-py-minor, compiler, minor-patch

#1421 Fix issue #1298
  devito/ir/clusters/algorithms.py
  devito/ir/equations/equation.py
  devito/ir/support/basic.py
  devito/ir/support/utils.py
  tests/test_dimension.py
Labels: better code, bug-py-minor, compiler, minor-patch

#1423 Self-adjoint seismic: Update correctness linearization plot
  examples/seismic/self_adjoint/sa_03_iso_correctness.ipynb
Labels: examples

#1428 examples: Patch plot_velocity
  examples/seismic/plotting.py
Labels: examples, minor-patch

#1424 Time Blocking Notebook POC w/serialization and compression
  examples/seismic/self_adjoint/sa_02_iso_implementation2.ipynb
  examples/seismic/self_adjoint/time_blocking.ipynb
Labels: POC, examples

#1439 Replaced mini-web-app for slack invites to slacks native solution.
  CONTRIBUTING.md
  README.md
  benchmarks/user/README.md
  docs/source/download.rst
Labels: documentation

#1425 examples: Fix `opt` arg-passing for elastic and TTI
  examples/seismic/acoustic/wavesolver.py
  examples/seismic/elastic/operators.py
  examples/seismic/elastic/wavesolver.py
  examples/seismic/self_adjoint/wavesolver.py
  examples/seismic/tti/tti_example.py
  examples/seismic/tti/wavesolver.py
  examples/seismic/viscoacoustic/wavesolver.py
  examples/seismic/viscoelastic/wavesolver.py
Labels: bug-py-minor, examples, good for newcomers, minor-patch
