Repository devitocodes/devito, pull requests merged in 2020-10, with the labels that each got.

#1363 MPI + OpenMP 5.0
  .github/workflows/pytest-gpu.yml
  devito/core/cpu.py
  devito/core/gpu_openacc.py
  devito/core/gpu_openmp.py
  devito/mpi/routines.py
  examples/performance/01_gpu.ipynb
  tests/test_gpu_openmp.py
Labels: MPI, compiler

#1465 Improve detection and scheduling of CIREs
  devito/core/cpu.py
  devito/core/gpu_openmp.py
  devito/finite_differences/derivative.py
  devito/finite_differences/differentiable.py
  devito/finite_differences/finite_difference.py
  devito/finite_differences/lazy.py
  devito/ir/equations/algorithms.py
  devito/operator/operator.py
  devito/passes/__init__.py
  devito/passes/clusters/aliases.py
  devito/passes/equations/__init__.py
  devito/passes/equations/linearity.py
  devito/symbolics/manipulation.py
  devito/types/basic.py
  devito/types/equation.py
  examples/performance/00_overview.ipynb
  examples/performance/01_gpu.ipynb
  examples/performance/README.md
  examples/seismic/tti/operators.py
  examples/seismic/utils.py
  tests/test_derivatives.py
  tests/test_dse.py
  tests/test_symbolics.py
Labels: better code, compiler

#1469 Minor tweaks
  devito/compiler.py
  devito/core/gpu_openacc.py
  devito/finite_differences/__init__.py
  devito/finite_differences/differentiable.py
  devito/ir/equations/algorithms.py
  devito/ir/iet/efunc.py
  devito/ir/iet/nodes.py
  devito/ir/iet/visitors.py
  devito/operations/interpolators.py
  devito/operator/operator.py
  devito/passes/iet/definitions.py
  devito/passes/iet/openmp.py
  devito/symbolics/extended_sympy.py
  devito/symbolics/printer.py
  devito/types/__init__.py
  devito/types/array.py
  devito/types/basic.py
  devito/types/dense.py
  devito/types/equation.py
  devito/types/lazy.py
  tests/test_dimension.py
  tests/test_iet.py
  tests/test_ir.py
  tests/test_subdomains.py
Labels: better code, bug-py-minor, compiler

#1475 Conditonals: Added diff2sympy to conditionals
  devito/ir/equations/equation.py
Labels: bug-py-minor

#1323 Notebooks with Damping, PML and HABC absorbing boudary conditions.
  .github/workflows/tutorials.yml
  examples/seismic/abc_methods/01_introduction.ipynb
  examples/seismic/abc_methods/02_damping.ipynb
  examples/seismic/abc_methods/03_pml.ipynb
  examples/seismic/abc_methods/04_habc.ipynb
  examples/seismic/abc_methods/README.md
  examples/seismic/abc_methods/domain1.png
  examples/seismic/abc_methods/domain2.png
  examples/seismic/abc_methods/domain3.png
  examples/seismic/abc_methods/region1.png
  examples/seismic/abc_methods/region2.png
Labels: examples
