Repository devitocodes/devito, pull requests merged in 2021-07, with the labels that each got.

#1690 examples: Add viscoacoustic Born operator to 1st sls equation
  examples/seismic/viscoacoustic/operators.py
  examples/seismic/viscoacoustic/viscoacoustic_example.py
  examples/seismic/viscoacoustic/wavesolver.py
  tests/test_adjoint.py
  tests/test_gradient.py
Labels: examples

#1719 Generalised MatrixSparseTimeFunction
  devito/ir/equations/algorithms.py
  devito/passes/clusters/cse.py
  devito/tools/utils.py
  devito/types/sparse.py
  devito/types/utils.py
  environment-dev.yml
  tests/test_dse.py
  tests/test_msparse.py
Labels: API

#1721 mpi: Towards compatibility for mode!=basic and GPU
  devito/__init__.py
  devito/ir/stree/algorithms.py
  devito/mpi/__init__.py
  devito/mpi/routines.py
  devito/passes/iet/mpi.py
  devito/types/dense.py
Labels: MPI

#1703 gpu: Enable tile clause in place of collapse with OpenACC
  benchmarks/user/README.md
  benchmarks/user/benchmark.py
  benchmarks/user/tools/__init__.py
  benchmarks/user/tools/driver.py
  benchmarks/user/tools/executor.py
  benchmarks/user/tools/plotter.py
  devito/core/gpu.py
  devito/passes/iet/languages/openacc.py
  devito/passes/iet/parpragma.py
  examples/cfd/example_diffusion.py
  examples/seismic/acoustic/accuracy.ipynb
  examples/seismic/acoustic/operators.py
  examples/seismic/acoustic/wavesolver.py
  examples/seismic/utils.py
  tests/test_benchmark.py
  tests/test_gpu_openacc.py
Labels: GPU, benchmarking
