Repository devitocodes/devito, pull requests merged in 2021-06, with the labels that each got.

#1643 examples: Add notebook for creating seismic synthetics with gempy
  .github/workflows/tutorials.yml
  docker/Dockerfile
  examples/seismic/tutorials/14_creating_synthetics.ipynb
  examples/seismic/tutorials/gempy_devito_grid_diagram.png
Labels: examples

#1704 examples: Fix broken gempy import in tutorial notebook
  examples/seismic/tutorials/14_creating_synthetics.ipynb
Labels: examples

#1705 bench: Fix gflopss dumping
  benchmarks/user/benchmark.py
  devito/operator/profiling.py
Labels: benchmarking

#1707 examples: Fix source illumination
  examples/seismic/tutorials/13_LSRTM_acoustic.ipynb
Labels: examples

#1710 examples: re-run skew adjoint notebook
  examples/seismic/self_adjoint/sa_02_iso_implementation2.ipynb
Labels: examples

#1713 bench: prevent zero input for jacobian
  benchmarks/user/benchmark.py
  examples/seismic/model.py
  examples/seismic/self_adjoint/wavesolver.py
Labels: benchmarking

#1702 compiler: Revamp data streaming
  .github/workflows/pytest-gpu.yml
  devito/arch/compiler.py
  devito/core/autotuning.py
  devito/core/cpu.py
  devito/core/gpu.py
  devito/ir/iet/efunc.py
  devito/ir/iet/nodes.py
  devito/ir/iet/utils.py
  devito/ir/iet/visitors.py
  devito/ir/stree/algorithms.py
  devito/ir/support/space.py
  devito/ir/support/vector.py
  devito/mpi/routines.py
  devito/operator/operator.py
  devito/passes/clusters/__init__.py
  devito/passes/clusters/asynchrony.py
  devito/passes/clusters/buffering.py
  devito/passes/equations/__init__.py
  devito/passes/equations/buffering.py
  devito/passes/iet/languages/openacc.py
  devito/passes/iet/languages/openmp.py
  devito/passes/iet/misc.py
  devito/passes/iet/orchestration.py
  devito/passes/iet/parpragma.py
  devito/symbolics/extended_sympy.py
  devito/symbolics/printer.py
  devito/symbolics/queries.py
  devito/types/parallel.py
  tests/conftest.py
  tests/test_adjoint.py
  tests/test_buffering.py
  tests/test_gpu_common.py
  tests/test_gpu_openmp.py
  tests/test_lower_exprs.py
  tests/test_pickle.py
Labels: GPU, bug-performance-gpu

#1706 examples: Switch to adjoint time derivative
  examples/seismic/acoustic/operators.py
  examples/seismic/tti/operators.py
Labels: examples

#1716 compiler: Set device on pthreads
  devito/ir/iet/efunc.py
  devito/ir/iet/nodes.py
  devito/operator/profiling.py
  devito/operator/symbols.py
  devito/passes/iet/instrument.py
  devito/passes/iet/langbase.py
  devito/passes/iet/orchestration.py
  devito/types/parallel.py
  tests/test_gpu_common.py
Labels: GPU

#1709 gpu: HPC SDK 21.5, Singularity, HPCX MPI update
  docker/Dockerfile.nvidia
  docker/Singularity.nvidia.def
  docker/entrypoint.sh
Labels: GPU

#1718 bench: Patch jacobian_adjoint
  benchmarks/user/benchmark.py
  tests/test_benchmark.py
Labels: benchmarking

#1708 dsl: Improve support for running operators concurrently in python threads
  devito/tools/__init__.py
  devito/tools/threading.py
  devito/types/basic.py
  devito/types/caching.py
  devito/types/dense.py
  devito/types/parallel.py
  tests/test_threading.py
Labels: API
