Repository devitocodes/devito, pull requests merged in 2021-12, with the labels that each got.

#1801 gpu: Loop tiling for GPU
  devito/core/gpu.py
  tests/conftest.py
  tests/test_gpu_openacc.py
  tests/test_gpu_openmp.py
Labels: GPU

#1803 compiler: add nvidia gpu compute capability auto-detection
  devito/arch/archinfo.py
  devito/arch/compiler.py
Labels: GPU, arch

#1807 CI: fix OSX setup in tutorials
  .github/workflows/tutorials.yml
  devito/arch/compiler.py
Labels: testing

#1809 examples: add adjoint, born, gradient, checkpointing to the tti example
  .github/workflows/examples.yml
  examples/seismic/tti/tti_example.py
Labels: examples

#1814 compiler: gpu cc detection fix
  devito/arch/archinfo.py
Labels: GPU, compiler

#1810 compiler: Refactorings, simplifications, generalizations
  devito/__init__.py
  devito/arch/archinfo.py
  devito/arch/compiler.py
  devito/core/arm.py
  devito/core/autotuning.py
  devito/core/cpu.py
  devito/core/gpu.py
  devito/core/operator.py
  devito/ir/clusters/algorithms.py
  devito/ir/clusters/cluster.py
  devito/ir/equations/equation.py
  devito/ir/iet/nodes.py
  devito/ir/iet/utils.py
  devito/ir/support/__init__.py
  devito/ir/support/guards.py
  devito/ir/support/space.py
  devito/ir/support/stencil.py
  devito/ir/support/utils.py
  devito/logger.py
  devito/mpi/routines.py
  devito/operator/operator.py
  devito/parameters.py
  devito/passes/clusters/aliases.py
  devito/passes/clusters/asynchrony.py
  devito/passes/clusters/blocking.py
  devito/passes/clusters/buffering.py
  devito/passes/clusters/misc.py
  devito/passes/iet/definitions.py
  devito/passes/iet/languages/openacc.py
  devito/passes/iet/languages/openmp.py
  devito/passes/iet/linearization.py
  devito/passes/iet/misc.py
  devito/passes/iet/mpi.py
  devito/passes/iet/orchestration.py
  devito/passes/iet/parpragma.py
  devito/symbolics/extended_sympy.py
  devito/tools/data_structures.py
  devito/types/args.py
  devito/types/array.py
  devito/types/basic.py
  devito/types/dense.py
  devito/types/dimension.py
  examples/performance/00_overview.ipynb
  tests/test_dle.py
  tests/test_dse.py
  tests/test_gpu_common.py
  tests/test_gpu_openacc.py
  tests/test_gpu_openmp.py
  tests/test_linearize.py
  tests/test_mpi.py
  tests/test_operator.py
Labels: compiler
