Repository devitocodes/devito, pull requests merged in 2022-04, with the labels that each got.

#1895 examples: Update attribute names and backend for synthetics notebook
  examples/seismic/tutorials/14_creating_synthetics.ipynb
Labels: examples

#1898 compiler: Patch iteration space scheduling
  devito/ir/clusters/algorithms.py
  tests/test_operator.py
Labels: bug-performance-C

#1891 compiler: Misc minor code generation fixes
  devito/arch/archinfo.py
  devito/ir/clusters/cluster.py
  devito/ir/iet/efunc.py
  devito/ir/iet/nodes.py
  devito/ir/iet/utils.py
  devito/ir/iet/visitors.py
  devito/operator/operator.py
  devito/passes/clusters/buffering.py
  devito/passes/iet/definitions.py
  devito/symbolics/extended_sympy.py
  devito/symbolics/inspection.py
  devito/symbolics/manipulation.py
  devito/symbolics/printer.py
  devito/tools/utils.py
  devito/types/basic.py
  devito/types/misc.py
  tests/test_dse.py
  tests/test_gpu_common.py
  tests/test_mpi.py
  tests/test_operator.py
  tests/test_symbolics.py
  tests/test_tools.py
Labels: compiler

#1905 mpi: Always generate MPIComm with MPI enabled
  devito/passes/iet/mpi.py
Labels: MPI

#1910 compiler: Patch generate_implicit for corner cases
  devito/passes/clusters/implicit.py
  tests/test_subdomains.py
Labels: bug-C

#1869 examples: Rename the viscoacoustic equations
  .github/workflows/examples.yml
  examples/seismic/tutorials/11_viscoacoustic.ipynb
  examples/seismic/viscoacoustic/operators.py
  examples/seismic/viscoacoustic/viscoacoustic_example.py
  examples/seismic/viscoacoustic/wavesolver.py
  tests/test_adjoint.py
Labels: examples
