Repository devitocodes/devito, pull requests merged in 2022-01, with the labels that each got.

#1818 gpu: move blocking pass from custom to advanced mode
  devito/core/gpu.py
  tests/conftest.py
  tests/test_gpu_openacc.py
  tests/test_gpu_openmp.py
Labels: GPU

#1819 CUDA/HIP/SYCL preliminaries + misc improvements
  .github/workflows/pytest-gpu.yml
  devito/__init__.py
  devito/arch/compiler.py
  devito/core/gpu.py
  devito/ir/clusters/analysis.py
  devito/ir/clusters/cluster.py
  devito/ir/equations/equation.py
  devito/ir/iet/efunc.py
  devito/ir/iet/nodes.py
  devito/ir/iet/visitors.py
  devito/ir/support/utils.py
  devito/operator/registry.py
  devito/passes/iet/definitions.py
  devito/passes/iet/langbase.py
  devito/passes/iet/linearization.py
  devito/passes/iet/parpragma.py
  devito/symbolics/extended_sympy.py
  devito/symbolics/printer.py
  devito/types/basic.py
  docker-compose.yml
  tests/test_iet.py
  tests/test_linearize.py
  tests/test_operator.py
Labels: compiler

#1825 CI: update codecov action version
  .github/workflows/examples.yml
  .github/workflows/pytest-core-mpi.yml
  .github/workflows/pytest-core-nompi.yml
  .github/workflows/pytest-gpu.yml
Labels: testing

#1822 arch: Support OSX+M1
  devito/arch/archinfo.py
  devito/arch/compiler.py
  requirements.txt
Labels: arch
